#markdown-toc{
  float: right;
  width:50%;
  background:#f4f7f8;
  padding:20px 15px;
  li{
    padding-top:10px;
    position:relative;
    list-style-type:none;
  }
}

#markdown-toc:before{
  content:"Table of Contents";
  font-weight: 700;
  padding-left:10px;
  border-bottom:5px solid $grey-color-light !important;
  display:block;
  font-size:18px
}
